mixin pagination(pagination)
  .mt-3
    .col-lg-2.col-md-3.col-3
        select.form-select(pagination)
            - for (let i = 1; i <= pagination.totalPage + 1; i++)
                option(value=i) #{i}